@charset "UTF-8";

body, div, p, h1, h2, h3, h4, h5 img {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Encode Sans Expanded', sans-serif;
}

/*
* column settings
*/
.container {
  width: 100%;
  max-width: 1440px;
  margin: 0;
  padding: 0;
}


/*
* columun 1 から 12を書き加える
* flexboxを使用して、widthを%で書く
*/

/*
* main top
*/

.top-main {
  /* background-image: url(../shared/yaoqi-lai-19429.jpg); */
  color: #ffffff;
  text-align: center;
}

.hero-message {
  z-index: 1;
  position: absolute;
}

.hero-image {
  z-index: 0;
  object-fit: fill;

}


.top-main h2 {
  color:#ffffff;
  width:auto;
  text-align: center;
  margin: 30px 0;

}

.top-main h1 {
  color:#ffffff;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
  text-align: center;
  border-bottom: 1px solid;
  padding: 30px;
  
}

.top-main p {
  color:#ffffff;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
  text-align: center;
  margin: 50px 350px; 
  
}

.hero-image img {
 object-fit: cover;
 height: 500px;
 width: 100%;
}

/*
* middle section
*/

.middle-section {
  grid-template-rows: 1fr 1fr;

}

.middle-columns {
  text-align: center;
  display: grid;
}

.middle-columns-text {
align-items: center;/* 中央寄せはcenterです */
}

.middle-columns-title {
 margin: 0 0 20px 20px;

}

/* クエリの外に書く記述は、全端末画面で共通のスタイルのみ。この設定はデスクトップ端末特有の設定です */
.middle-columns-upper {
display: grid;
grid-template-columns: 1fr 1fr 1fr;

}

.middle-columns-img-upper {
  width: 100%;

}

.middle-columns-lower {
display: grid;
grid-template-columns: 1fr 1fr 1fr;
}

.middle-columns-img-lower {
  width: 100%;
}

.middle-columns {
font-size: 18px;
}

.middle-columns h3 {
  color: rgb(133, 152, 206);
  justify-content: space-around;
  grid-row: 1 / 2;
}

.middle-columns h2 {
  font-weight: 600;
  color: black;
  vertical-align: middle;
  grid-row: 2 / 3;
}


.middle-section p {
  color: rgb(133, 152, 206);
  grid-row: 3 / 4;
}

/*
* middle label
*/

.middle-label {
  background-color: rgb(236, 236, 236);
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.middle-label h1 {
  padding: 50px;
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

.middle-label h2 {
  color: rgb(133, 152, 206);
}

/*
* bottom section
*/

.bottom-message {
  text-align: center;
  font-size: 28px;
  padding: 30px 0 40px 0;
  color: rgb(133, 152, 206);
}

.bottom-image {
  width:100%;
  align-items: center;
  margin: 0 80px 0 80px;
}


.bottom-image-lower {
  width: 100%;
}

.bottom-columns-upper {
 display: grid;
 grid-template-columns: 1fr 1fr;
 margin: 0 80px 0 80px;
}

.bottom-columns {
  font-size: 18px;
}

.bottom-image-upper {
  width: 100%;
}

.bottom-columns-text {
  margin: 20px 0 0 0;
}

.bottom-columns-lower {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0 80px 0 80px;
}

.bottom-section .slim {
  padding: 50px 50px 30px 80px;
}

.bottom-section-label h1 {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
}

/*
* footer
*/

.footer {
  background-color: #000000;
  color: #ffffff;
  text-align: center;
  padding: 80px 0 100px 0;
}

.footer-message {
  font-size: 60px;
  font-weight: 100;
  font-family: 'Encode Sans Expanded', sans-serif;
  font-family: 'Lora', serif;
  padding: 80px 0 20px 0;
  border-bottom: 1px solid;
}

@media (min-width:320px) {
.top-main h2 {
  font-size: 30px;
}

.top-main h1 {
  font-size: 24px;
}

.top-main p {
  margin: 20px 40px;
  font-size: 14px;
}

.middle-columns-text {
  grid-template-rows: 1fr 1fr 1fr;
}

/* モバイルでの表示を縦並びにする記述をするのであれば、デスクトップのブレークポイントではどうするかを指定する必要があります */
.middle-columns-upper {
  display: grid;
  grid-template-columns: none;
  }


.middle-columns-lower {
  display: grid;
  grid-template-columns: none;
}

.middle-columns h3 {
  font-size: 18px;
  justify-content: space-around;

}

.middle-columns h2 {
font-size: 20px;
}

.middle-columns p {
font-size: 16px;
margin: 10px 0 30px 0;
}

.middle-label {
  padding: 20px 0;
}

.middle-label h2 {
 font-size: 18px;
}

.middle-label h1 {
 font-size: 24px;
}

.bottom-columns-upper {
  display: grid;
  grid-template-columns: none;
 }

.bottom-columns-lower {
  display: grid;
  grid-template-columns: none;
}


.footer {
  padding: 40px 20px;
  font-size: 16px
}
.footer-message {
  font-size: 24px;
}


}

@media (min-width:768px) {
.top-main h1 {
  font-size: 40px;
}
.top-main p {
  margin: 50px 100px;
}
.middle-columns-text h3  {
  font-size: 18px;
}

.middle-columns-text h2 {
  font-size: 16px;
}

.middle-columns-text p {
  font-size: 14px;
}

.middle-label h2 {
  font-size: 18px;
  padding: 20px 0;
}
.middle-label h1 {
  font-size: 40px;
}

.bottom-message h2 {
  font-size: 18px;
}

.bottom-columns-title {
  font-size: 16px;
  margin: 0 0 10px 10px;
}

.bottom-columns-text {
  font-size: 14px;
  margin: 0 0 10px 10px;
  padding: 0 10px 10px 0;
}

.footer {

}
.footer-message {
  font-size: 40px;
}

}

@media (min-width: 1024px) {
 .bottom-columns-title {
   margin: 0 10px 0 20px;
 }
 .bottom-columns-text {
   margin: 0 10px 0 20px;
 }
}
